// https://www.gridlover.net

$root: (
  fontSize: 18px,
  lineHeight: 27px
);
$scale0: (
  fontSize: 1rem,
  line: 1.5rem,
  autoLineCount: 1,
  autoLineHeight: 1.5rem
);
$scale1: (
  fontSize: 1.5rem,
  line: 1.5rem,
  autoLineCount: 1,
  autoLineHeight: 1.5rem
);
$scale2: (
  fontSize: 2.2777778rem,
  line: 1.5rem,
  autoLineCount: 2,
  autoLineHeight: 3rem
);
$scale3: (
  fontSize: 3.3888889rem,
  line: 1.5rem,
  autoLineCount: 3,
  autoLineHeight: 4.5rem
);
$scale4: (
  fontSize: 5.0555556rem,
  line: 1.5rem,
  autoLineCount: 4,
  autoLineHeight: 6rem
);
$scale5: (
  fontSize: 7.6111111rem,
  line: 1.5rem,
  autoLineCount: 6,
  autoLineHeight: 9rem
);
$scale6: (
  fontSize: 11.3888889rem,
  line: 1.5rem,
  autoLineCount: 8,
  autoLineHeight: 12rem
);
$scale7: (
  fontSize: 17.1111111rem,
  line: 1.5rem,
  autoLineCount: 12,
  autoLineHeight: 18rem
);
$scale8: (
  fontSize: 25.6111111rem,
  line: 1.5rem,
  autoLineCount: 18,
  autoLineHeight: 27rem
);
$scale9: (
  fontSize: 38.4444444rem,
  line: 1.5rem,
  autoLineCount: 26,
  autoLineHeight: 39rem
);
$scale10: (
  fontSize: 57.6666667rem,
  line: 1.5rem,
  autoLineCount: 39,
  autoLineHeight: 58.5rem
);
$scale11: (
  fontSize: 86.5rem,
  line: 1.5rem,
  autoLineCount: 58,
  autoLineHeight: 87rem
);
$scale12: (
  fontSize: 129.7222222rem,
  line: 1.5rem,
  autoLineCount: 87,
  autoLineHeight: 130.5rem
);